#aboutMe {
}

#bio-image {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

#bio-image:hover {  
    opacity: 1;
    /*Reflection*/
   -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
}

/* #bio-image:hover {
    outline: 5px solid blue;
    outline-offset: 10px;
} */

