/* Center website */
.container {
max-width: 960px;
margin: auto;
}

.row {
margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.3%;
}

/* Clear floats after rows */ 
.row:after {
content: "";
display: table;
clear: both;
}

/* Content */
.content {
background-color: white;
padding: 10px;
}

/* Paragraph Lorem */
p {
    margin-top: -50px;
    margin-bottom: -10px;
}


/* Medium devices (landscape tablets, 768px) */
@media only screen and (max-width: 768px) {
    .container {
        width: 640px;
    }

    .column {
        float: left;
        width: 50%;
        }


}

/* Extra small devices (phones, 640px) */
@media only screen and (max-width: 650px) {
    .container {
        width: 320px;
    }

    .column {
        float: left;
        width: 100%;
        }
}