/* Center website */
.container {
max-width: 960px;
margin: auto;
}

.row {
margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.3%;
}

/* Clear floats after rows */ 
.row:after {
content: "";
display: table;
clear: both;
}

/* Content */
.content {
background-color: white;
padding: 10px;
}
